{% extends "layouts/base.html" %}

{% block title %} Intervention - Decision Point {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>Intervention Settings / Decision Points</h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <label class="form-control-label" for="decision_point_frequency">Decision
                                                        Points</label>
                                                    <div class="form-group">

                                                        <select id="decision_point_frequency" name="decision_point_frequency"
                                                                class="form-select" aria-label="Default select example">
                                                            {% for n in range(1,61) %}
                                                            <option {% if settings.decision_point_frequency==n|string %}
                                                                    selected{% endif %} value="{{n}}">{{n}}
                                                            </option>
                                                            {% endfor %}
                                                        </select> times per
                                                        <select id="decision_point_frequency_time"
                                                                name="decision_point_frequency_time" class="form-select"
                                                                aria-label="Default select example">
                                                            {% for tm in decision_point_frequency_time %}
                                                            <option {% if settings.decision_point_frequency_time==tm %}
                                                                    selected{% endif %} value="{{tm}}">{{tm}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="center-buttons">
                                                        <a href="/intervention/settings/intervention_option/{{project_uuid}}"
                                                        class="btn btn-outline-primary" role="button">&lt; Back</a>
                                                        
                                                        <button style="margin-left: 3px;" type="submit" type="button"
                                                                formaction="/intervention/settings/intervention_probability/{{project_uuid}}"
                                                                formmethod="post" class="btn btn-primary">Next &gt;
                                                        </button>
                                                    </div>
                                                    <div class="form-group">
                                                        Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ Main Content ] end -->
                                </form>
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["Decision Points"] %}
                {% set block1_text=["Decision points are the specific, recurring times during your study when the pJITAI algorithm decides which intervention option to deliver (e.g., whether to send a message). While  the algorithm does not use the actual times of the decision points, the frequency of the decision points is an important part of your intervention design. Elsewhere in the pJITAI Toolbox, this frequency is used to describe how your personalized intervention component will operate in practice."] %}
                {% set block2="In the HeartSteps Activity Suggestions example, there are five decision points per day, which correspond approximately to the participant’s morning commute, lunchtime, mid afternoon, evening commute, and after dinner times." %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
