{% extends "layouts/base.html" %}

{% block title %} Intervention - Probability {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #intervention_probability_lower_bound {
        margin-right: 20px;
        background-color: white;
    }
    #intervention_probability_upper_bound {
        margin-right: 20px;
        background-color: white;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<script>


$(document).ready(function(){
    function calculate_on_load(){
        dp_freq = $('#dp_freq').text()
        result1 = ($('#interven_lower').text() * dp_freq).toFixed(1)
        result2 = ($('#interven_upper').text() * dp_freq).toFixed(1)
        $('#result_1').html(result1);
        $('#result_2').html(result2);
    }
    calculate_on_load();

    function check_lower_upper(showAlert = true) {
        const lower = parseFloat($('#intervention_probability_lower_bound').val());
        const upper = parseFloat($('#intervention_probability_upper_bound').val());

        if (isNaN(lower) || isNaN(upper)) return true;

        if (lower >= upper) {
            if (showAlert) alert("Lower bound must be less than upper bound.");
            // $('#intervention_probability_lower_bound').val('');
            // $('#intervention_probability_upper_bound').val('');
            return false;
        }
        return true;
    }

    $('#intervention_probability_lower_bound, #intervention_probability_upper_bound')
        .on('input change', function () { 
        check_lower_upper(true);
        });

    check_lower_upper(false);

    $("input[name=intervention_probability_lower_bound]").on('keyup', function () {
        $('#interven_lower').html($(this).val());
        dp_freq = $('#dp_freq').text()
        result1 = ($('#interven_lower').text() * dp_freq).toFixed(1)
        $('#result_1').html(result1);
    });

    $("input[name=intervention_probability_upper_bound]").on('keyup', function () {
        $('#interven_upper').html($(this).val());
        dp_freq = $('#dp_freq').text()
        result2 = ($('#interven_upper').text() * dp_freq).toFixed(1)
        $('#result_2').html(result2);
    });
});


</script>
<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Intervention Settings / Intervention Probability</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="intervention_probability_lower_bound">Intervention
                                                            probability lower bound (when eligible)</label>
                                                        <div class="input-group-probability" style="display: flex; flex-direction: row; width: 100%;">
                                                            <input min="0.01" max="0.99" step="0.01"
                                                                value="{{settings.intervention_probability_lower_bound}}"
                                                                type="number" id="intervention_probability_lower_bound"
                                                                name="intervention_probability_lower_bound"
                                                                class="form-control" required style="flex:2;">
                                                            <div class="input-group-probability" style="flex: 8;">
                                                                <span class="input-group-text" style="border: solid 1px;"><span id="interven_lower"> {{settings.intervention_probability_lower_bound}} </span> 
                                                                        &nbsp; x &nbsp; <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points time' id="dp_freq" style="background-color: #FCE6BB; border-radius: 4px; padding: 5px; border: 1px solid;">{{settings.decision_point_frequency}} </span>&nbsp;&nbsp;
                                                                        <span> decision points per <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points frequency' id="intervention-probability-box">{{settings.decision_point_frequency_time}}</span> </span>
                                                                        &nbsp;&nbsp; = &nbsp;&nbsp; 
                                                                        <span id="result_1"></span> &nbsp;&nbsp; <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Intervention options: Option A' id="intervention-probability-box">{{settings.intervention_option_a}}</span> <span style="padding: 5px;">per</span> <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points frequency' id="intervention-probability-box">{{settings.decision_point_frequency_time}}</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="intervention_probability_upper_bound">Intervention
                                                            probability upper bound (when eligible)</label>
                                                        <div class="input-group-probability" style="display: flex; flex-direction: row; width: 100%;">
                                                            <input min="0.01" max="0.99" step="0.01"
                                                                value="{{settings.intervention_probability_upper_bound}}"
                                                                type="number" id="intervention_probability_upper_bound"
                                                                name="intervention_probability_upper_bound"
                                                                class="form-control" required style="flex:2;">
                                                            <div class="input-group-probability" style="flex: 8;">
                                                                <span class="input-group-text" style="border: solid 1px;"><span id="interven_upper"> {{settings.intervention_probability_upper_bound}} </span> 
                                                                        &nbsp; x &nbsp; <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points time' id="dp_freq" style="background-color: #FCE6BB; border-radius: 4px; padding: 5px; border: 1px solid;">{{settings.decision_point_frequency}} </span>&nbsp;&nbsp;
                                                                        <span> decision points per <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points frequency'id="intervention-probability-box">{{settings.decision_point_frequency_time}}</span> </span>
                                                                        &nbsp;&nbsp; = &nbsp;&nbsp; 
                                                                        <span id="result_2"></span> &nbsp;&nbsp; <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Intervention options: Option A' id="intervention-probability-box">{{settings.intervention_option_a}}</span> <span style="padding: 5px;">per</span> 
                                                                                            <span data-toggle='tooltip'
                                                                                            data-bs-placement="right"
                                                                                            title='Decision points frequency' id="intervention-probability-box">{{settings.decision_point_frequency_time}}</span></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <!-- [ tabs ] start -->
                                    <div class="col-sm-12">

                                        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                    Explanation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                    Example</a>
                                            </li>
                                        </ul> -->
                                        <div class="tab-content" id="myTabContent">
                                            <!-- <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                aria-labelledby="home-tab"> -->
                                            <div class="tab-item">
                                                <h5>Explanation</h5>
                                                <p>
                                                <p>Before your study begins, you need to set the lower and upper bounds of 
                                                    the probability of sending Intervention Option A.
                                                    Over the course of the study, the probability of sending Intervention Option A (when
                                                    Intervention Option A is eligible) will change as the algorithm
                                                    learns from accruing data but will never go below
                                                    or above the bounds you have set.</p>
                                                <p>We include a calculator to help you understand the lower and upper bounds of 
                                                    the intervention probability. This calculator shows given the lower/upper bound you have set,
                                                    the minimum/maximum number of Intervention Option A per period.
                                                </p>

                                                <p>For each study, you choose the ideal lower and upper bounds of the intervention probability
                                                    based on how many Intervention Option A to send per period.
                                                    To ensure a continual update of personalization, you cannot choose the
                                                    intervention probability lower/upper bound during personalization to be
                                                    0 or 1. If you are concerned about burden or habituation, we suggest
                                                    that you choose a smaller upper bound.</p>
                                                </p>
                                            </div>
                                            <!-- <div class="tab-pane fade" id="profile" role="tabpanel"
                                                aria-labelledby="profile-tab"> -->
                                            <div class="tab-item">
                                                <h5>HeartSteps Example</h5>
                                                <h6>Intervention Probability Lowerbound</h6>
                                                <p>0.1</p>
                                                <h6>Intervention Probability Upperbound</h6>
                                                <p>0.8</p>
                                                <p>For the HeartSteps study, the behavioral scientists determined that
                                                the intervention probability should be between <b>0.1 and 0.8.</b>
                                                    Note that with 5 decision
                                                    points/day, an intervention probability of 0.1 yields an average
                                                    of 0.1 x 5 = <u>0.5 activity suggestion messages</u> (Intervention Option A) per day. 
                                                    Similarly, an intervention probability of 0.8 yields an average
                                                    of 0.8 x 5 = <u>4 activity suggestion messages</u> (Intervention Option A) per day. </p>
                                                <p>
                                                    In other words, on average, between <u>0.5 and 4 
                                                    activity suggestions</u> will be sent per day.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- [ tabs ] end -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5><b>Discussion: How do I choose?</b></h5>
                                                <p>You will want to select the lower and upper bounds to be “reasonable,” so that participants are never exposed to excessive burden or entirely deprived of behavioral support, yet you allow the algorithm to continue to learn about the relative effectiveness of the intervention options. </p>
                                                <p>The calculator above will show you the expected frequency of selection Option A based on your lower and upper bounds. The actual expected frequency will always lie between that for the lower and upper bounds. Try out different numbers between 0 and 1.0 to see what the minimum and maximum expected delivery of Option A would be per unit of time (i.e., day, week, month). </p>
                                                <p>This table provides a few examples of values you might choose, depending on your population and intervention goals:</p>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>    
                                                            <th>Goal</th>
                                                            <th>Lower Bound</th>
                                                            <th>Upper Bound</th>
                                                            <th>Notes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="word-wrap: break-word; white-space: normal;">Lowest burden, frequent decisions</td>
                                                            <td>0.05</td>
                                                            <td>0.20</td>
                                                            <td style="word-wrap: break-word; white-space: normal;">A lower bound of 0.5 will result in very few selections of Option A, allowing the lowest burden for participants not benefiting from the intervention component; An upper bound of 0.2 will ensure that even the most responsive participants will only receive Option A one out of five times. For an intervention component with 5 decision points per day, this would keep the expected burden to about one delivery per day.</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="word-wrap: break-word; white-space: normal;">High support, infrequent decisions</td>
                                                            <td>0.5</td>
                                                            <td>0.9</td>
                                                            <td style="word-wrap: break-word; white-space: normal;">A lower bound of 0.5 would mean that participants always have a 50% chance of receiving the high intensity option, even if they do not seem to be responsive. If the intervention may take time to show an effect, you might want to make sure the algorithm has many chances to learn. If decision points are infrequent (e.g., once per week or month), you might want to keep the upper bound high(e.g., 90%) so that responsive participants are more likely to receive support</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="word-wrap: break-word; white-space: normal;">Moderate support, moderate burden, moderate frequency, less personalization</td>
                                                            <td>0.3</td>
                                                            <td>0.7</td>
                                                            <td style="word-wrap: break-word; white-space: normal;">Choosing bounds that stay close to 0.5 for decision points that are not too frequent (e.g., once per day) will ensure that participants are neither overly burdened or deprived of support. But this results in less personalization. </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Main Content ] end -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-group">
                                                    <a href="/intervention/settings/decision_point/{{project_uuid}}"
                                                    class="btn btn-outline-primary" role="button">Back</a>
                                                    <!--                                                <button type="submit" type="button" formaction="/intervention/settings/ineligibility/{{project_uuid}}" formmethod="post" class="btn btn-outline-primary">Back</button>-->
                                                    <button type="submit" type="button"
                                                            formaction="/intervention/settings/update_point/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
