{% extends "layouts/base.html" %}

{% block title %} Intervention - Option {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Intervention Settings / Intervention Options</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-group">
                                                    <!-- <p style="color:#f65959;">Option A and Option B cannot be interchanged.
                                                        Please read the explanation to make sure that you define them
                                                        correctly.</p> -->
                                                    <label class="form-control-label" for="intervention_option_a">Intervention
                                                        Option A (Higher Intensity) name</label>
                                                    <input value="{{settings.get('intervention_option_a','')}}" type="text"
                                                        id="intervention_option_a" name="intervention_option_a"
                                                        class="form-control" placeholder="Option A" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="intervention_option_b">Intervention
                                                        Option B (Lower Intensity) name</label>
                                                    <input value="{{settings.get('intervention_option_b','')}}" type="text"
                                                        id="intervention_option_b" name="intervention_option_b"
                                                        class="form-control" placeholder="Option B" required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <!-- [ tabs ] start -->
                                    <div class="col-sm-12">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-item">
                                                <p>Give names to your two intervention options that will help you remember what they represent in terms of your intervention component.</p>

                                                <h5><b>Intervention Option A - Higher Intensity</b></h5>
                                                <p>The first of the two options that can be selected by your personalizing algorithm should be the one that is more “intense”--both in the sense of burden to the participant and in the sense of expected impact on the outcome. For the typical case of an intervention component that sends a message to the participant, Option A would be the “Send a Message” option.</p>

                                                <h5><b>Intervention Option B - Lower Intensity</b></h5>
                                                <p>The second of the two options should be the option that is lower in intensity, considering both burden and expected outcome. For a push messaging intervention component, this option might be the “No Message” option.</p>

                                                <h5><b>Note:</b></h5> It's important not to mix up these two options. The system is built around the assumption that Option A is the more "active" or potentially burdensome option and Option B is less active or passive.
                                            </div>
                                            <!-- <div class="tab-pane fade" id="profile" role="tabpanel"
                                                aria-labelledby="profile-tab"> -->
                                            <div class="tab-item">
                                                <h5><i>HeartSteps Example</i></h5>
                                                <p>
                                                    For the HeartSteps Activity Suggestions example, Intervention Option A is “Send an activity suggestion message” and Intervention Option B is “Do not send a message.”
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <!-- [ tabs ] end -->
                                </div>
                                <!-- [ Main Content ] end -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-group">
                                                    <a href="/intervention/settings/proximal_outcome/{{project_uuid}}"
                                                    class="btn btn-outline-primary" role="button">Back</a>
                                                    <!--                                                <button type="submit" type="button" formaction="/projects/settings/summary/{{project_uuid}}" formmethod="post" class="btn btn-outline-primary">Back</button>-->
                                                    <button type="submit" type="button"
                                                            formaction="/intervention/settings/decision_point/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
