{% extends "layouts/base.html" %}

{% block title %} Intervention - Option {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Intervention Settings / Intervention Options</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="intervention_option_a">Intervention
                                                        Option A (Higher Intensity) name</label>
                                                    <input value="{{settings.get('intervention_option_a','')}}" type="text"
                                                        id="intervention_option_a" name="intervention_option_a"
                                                        class="form-control" placeholder="Option A" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="intervention_option_b">Intervention
                                                        Option B (Lower Intensity) name</label>
                                                    <input value="{{settings.get('intervention_option_b','')}}" type="text"
                                                        id="intervention_option_b" name="intervention_option_b"
                                                        class="form-control" placeholder="Option B" required>
                                                </div>
                                                <div class="center-buttons">
                                                    <a href="/intervention/settings/proximal_outcome/{{project_uuid}}"
                                                    class="btn btn-outline-primary" role="button">&lt; Back</a>
                                                    <button style="margin-left: 3px;" type="submit" type="button"
                                                            formaction="/intervention/settings/decision_point/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next &gt;
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ Main Content ] end -->
                            </form>
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_pretext="In your intervention component, the personalization algorithm will choose between the following two intervention options at each decision point. Give these options clear names  that help you remember what they represent in terms of your intervention component." %}
                {% set block1_title=["Intervention Option A - Higher Intensity", "Intervention Option B - Lower Intensity"] %}
                {% set block1_text=["This is the more “intense” option -- both in the sense of participant burden and expected impact on the outcome. For example, if your intervention component involves  sending  messages to the participants, Option A might be “Send a Message”.", "This is the less intense option, with lower participant burden and a smaller expected impact. In the messaging example described above, Option B might be “No Message.”"] %}
                {% set block1_posttext %}
                <b>Note</b>: It's important not to mix up these two options. The system assumes that Option A is the more "active" or potentially burdensome option and Option B is less active or passive." {% endset %}
                {% set block2 %} For the HeartSteps Activity Suggestions example: 
                <ul><li>Intervention Option A is “Send an activity suggestion message”</li><li>Intervention Option B is “Do not send a message.”</li></ul>{% endset %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
