{% extends "layouts/base.html" %}

{% block title %} Intervention Settings - Proximal Outcome {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Intervention Settings / Proximal Outcome</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="proximal_outcome_name">Proximal outcome name <span style="color: red;">*</span></label>
                                                        <input type="text" name="proximal_outcome_name" id="proximal_outcome_name"
                                                            value="{{settings.get('proximal_outcome_name','')}}" required
                                                            class="form-control" placeholder="Proximal outcome name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="proximal_outcome_description">Proximal outcome description</label>
                                                        <textarea name="proximal_outcome_description" id="proximal_outcome_description"
                                                                rows="4" class="form-control"
                                                                placeholder="Proximal outcome description...">{{settings.get('proximal_outcome_description','')}}</textarea>
                                                    </div>
                                                    
                                                </div>
                                                <div class="center-buttons">
                                                    <a href="/projects/settings/summary/{{project_uuid}}"
                                                        class="btn btn-outline-primary" role="button">&lt; Back</a>
                                                    <button style="margin-left: 3px;" type="submit" formmethod="post"
                                                            formaction="/intervention/settings/intervention_option/{{project_uuid}}"
                                                            class="btn btn-primary">Next &gt;
                                                    </button>
                                                </div>
                                                <div class="modified-on">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>  
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ Main Content ] end -->
                            </form>         
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["What is the proximal outcome?"] %}
                {% set block1_text=['The proximal outcome is a longitudinal outcome that is collected by your app or a wearable and is provided to the algorithm after each decision point. The outcome should reflect  the behavior you aim to influence with your intervention component. For example, if your  intervention component promotes  physical activity, a suitable proximal outcome could be the step count (as measured by an activity tracker) within a short period after each decision point. In the description field, briefly describe your chosen proximal outcome in a manner that helps you and your team remember what you decided.

                At this time the proximal outcome must be interval data (that is the same interval between any two values of the proximal outcome should have the same meaning). For more, see the <a href="https://en.wikipedia.org/wiki/Level_of_measurement">Wikipedia article on “Level of measurement.” </a>

                Standardization
                The algorithm will expect that the proximal outcome is approximately standardized. That is, the proximal outcome should be coded so that the average value of the proximal outcome will be roughly 0 and the standard deviation of the proximal outcome will be roughly 1.
                
                If the proximal outcome is binary then the proximal outcome might be coded using -1,1 instead of the usual 0,1.
                
                A rough rule-of-thumb for standardizing is to guess the usual range of the proximal outcome. Then the average value of the proximal outcome is roughly the center of this range and the standard deviation is roughly the length of the range divided by 4.  
                <ul>
                    <li>
                        [NOTE] When the personalization algorithm is running or actively deployed and receiving real-time data, the proximal outcome needs to be standardized using the  same values you used here!
                    </li>
                </ul>
                '] %}
                {% set block2="Y" %}
                {% set block2_title="Transforming the Proximal Outcome in HeartSteps" %}
                {% set block2_text %}
                In HeartSteps, the step count in a 30-minute window following each decision point is the proximal outcome. Because step counts are right skewed, they were log-transformed to make their distribution more symmetric and approximately standardized. Then, the proximal outcome might be written as “(log) Next 30 min step count” to denote this transformation.

                The 30-minute step count used by the HeartSteps Activity Suggestions intervention component takes on integer values (0, 1, 2,...) and is heavily right skewed with many values equal to zero and a long tail of higher step counts stretching towards the maximum expected value.  Thus to transform this proximal outcome so that its distribution is more symmetric, the raw step counts are log transformed, like so:
                
                <code>prox_outcome = log(raw_steps + 0.5)</code>
                
                The value of 0.5 is added to the raw_steps value because it avoids taking the log of 0 which is undefined.
                
                To standardize, suppose we assume 0 to be the minimum value for the raw 30-minute step count and 3000 to be the maximum value, we end up with:
                
                <code>min_prox_outcome = log(0 + 0.5) = -0.7</code>
                <code>max_prox_outcome = log(3000 + 0.5) = 8.0</code>

                Then from the above, we can use the rough rule of thumb: the average value of the proximal outcome is roughly the center of this range (use (8.0-(-0.7))/2=4.4)  and the standard deviation is roughly the length of the range divided by 4 (use (8.0-(-0.7))/4=2.2).  
                {% endset %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}