{% extends "layouts/base.html" %}

{% block title %} Intervention Settings - Proximal Outcome {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Intervention Settings / Proximal Outcome</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="proximal_outcome_name">Proximal outcome name <span style="color: red;">*</span></label>
                                                        <input type="text" name="proximal_outcome_name" id="proximal_outcome_name"
                                                            value="{{settings.get('proximal_outcome_name','')}}" required
                                                            class="form-control" placeholder="Proximal outcome name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="proximal_outcome_type">Outcome data type <span style="color: red;">*</span></label>
                                                        <select id="proximal_outcome_type" name="proximal_outcome_type"
                                                                class="form-control" aria-label="Default select example">
                                                            <option value="Continuous" {% if settings.get('proximal_outcome_type') == 'Continuous' %}selected{% endif %}>Continuous</option>
                                                            <option value="Binary" {% if settings.get('proximal_outcome_type') == 'Binary' %}selected{% endif %}>Binary</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="proximal_outcome_description">Proximal outcome description</label>
                                                        <textarea name="proximal_outcome_description" id="proximal_outcome_description"
                                                                rows="4" class="form-control"
                                                                placeholder="Proximal outcome description...">{{settings.get('proximal_outcome_description','')}}</textarea>
                                                    </div>
                                                    
                                                </div>
                                                <div class="center-buttons">
                                                    <a href="/projects/settings/summary/{{project_uuid}}"
                                                        class="btn btn-outline-primary" role="button">&lt; Back</a>
                                                    <button style="margin-left: 3px;" type="submit" formmethod="post"
                                                            formaction="/intervention/settings/intervention_option/{{project_uuid}}"
                                                            class="btn btn-primary">Next &gt;
                                                    </button>
                                                </div>
                                                <div class="modified-on">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>  
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ Main Content ] end -->
                            </form>         
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["What is the proximal outcome?", "Outcome Data Type"] %}
                {% set block1_text=["The proximal outcome is a streaming outcome that is collected by your app and is provided to the algorithm after each decision point. The outcome should reflect  the behavior you aim to influence with your intervention component. For example, if your  intervention component promotes  physical activity, a suitable proximal outcome could be the step count (as measured by an activity tracker like a Fitbit) within a short period after each decision point. In the description field, briefly describe your chosen proximal outcome in a manner that helps you and your team remember what you decided.", "The Thompson Sampling algorithm approximates the distribution of proximal outcome using  a normal distribution.  The  algorithm is able to personalize more quickly if the distribution of the proximal outcome is approximately symmetric.   The algorithm can  still personalize for binary and other discrete outcomes.  See the Discussion: Transforming Outcomes."] %}
                {% set block2="In HeartSteps, the step count in a 30-minute window following each decision point is the proximal outcome. Because step counts are right skewed, they were log-transformed to make their distribution more symmetric. The proximal outcome is therefore written as  “(log) Next 30 min step count” to denote this transformation." %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}