<!-- [ navigation menu ] start -->
<script>
    $(document).ready(function(){

    $('#donotshowagain').change(function (e) {
        if ($(this).prop('checked')) {
            Cookies.set('donotshowagain', 2);
        }else{
            Cookies.set('donotshowagain', 1);
        }
    });

    $('#myCarousel').css({
        'display': 'flex',
        'justify-content': 'center',
        'align-items': 'center'
    }).carousel({interval: false,wrap: false});
    if(Cookies.get('donotshowagain')==1 || Cookies.get('donotshowagain')==null){
        $("#starterGuideModel").modal('show');
        Cookies.set('donotshowagain', Cookies.get('donotshowagain') + 1);
    }

var myCarousel   = $('#myCarousel');
var itemFirst    = myCarousel.find('.carousel-inner > .carousel-item:first-child');
var itemLast     = myCarousel.find('.carousel-inner > .carousel-item:last-child');
var controlLeft  = $(".introduction_next_prev").find('button.left.carousel-control');
var controlRight = $(".introduction_next_prev").find('button.right.carousel-control');

hideControl();

myCarousel.on('slid.bs.carousel', function() {
  hideControl();
});
myCarousel.on('slide.bs.carousel', function() {
  showControl();
});

function hideControl() {
  if ( itemFirst.hasClass('active') ) {
    controlLeft.prop("disabled",true);
  }
  if ( itemLast.hasClass('active') ) {
    //controlRight.prop("disabled",true);
    $("#right_btn").text('Finish');
    $('#right_btn').attr('data-dismiss', 'modal');
    myCarousel.carousel('pause');  // stop from cycling through items
  }else{
    $("#right_btn").text('Next');
    $('#right_btn').removeAttr('data-dismiss', 'modal');
  }
}

function showControl() {
  if ( itemFirst.hasClass('active') ) {
    controlLeft.prop("disabled",false);
  }
  if ( itemLast.hasClass('active') ) {
    controlRight.prop("disabled",false);

  }
}



    });

 function showModalByLink(){
    if(Cookies.get('donotshowagain')==1 || Cookies.get('donotshowagain')!=null){

    }
    if (document.cookie.indexOf('donotshowagain') > -1 && Cookies.get('donotshowagain')==2) {
      $('#donotshowagain').prop('checked', true);
    }
    $('#starterGuideModel').modal('show');
}

</script>
<style>
.carousel-inner img {
  height: auto;
  width: 100%;
}
.carousel-indicators .active {
    background-color: #f00;
}
#starterGuideModel {
   display: 'flex';
	justify-content: 'center';
	align-items: 'center';
}
.carousel-indicators {
        bottom: -6.4375rem;
    }

.carousel-indicators li {
    box-sizing: content-box;

    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    margin-left: 12px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #5e72e4;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .4;
    transition: opacity 0.6s ease;
    border-radius: 50%;
}

</style>

<div class="modal fade" id="starterGuideModel" tabindex="-1" role="dialog" aria-labelledby="starterGuideModel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators indicator">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <h3>Why use the pJITAI toolbox?</h3>
                            <div class="row">
                                <div class="col-9">
                                    <p class="pull-left">This toolbox helps you design a reinforcement learning algorithm for a  personalizing Just-in-Time Adaptive Intervention (pJITAI) component.</p>
                                </div>
                                <div class="col-3">
                                    <img src="{{ config.ASSETS_ROOT }}/images/pjitai/social-care_1.png"
                                         class="pull-right img-responsive">
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <h3>What is Personalization?</h3>
                            <div class="row">
                                <div class="col-9">
                                    <p>Data accruing from an individual may indicate that intervention option A is more
                                        effective than intervention option B when the individual is in certain states. A
                                        personalizing JITAI will increase the probability of sending intervention option
                                        A in these states.</p>
                                    <p>For example, if an individual is more responsive to intervention option A during
                                        weekends, the JITAI will send intervention option A more frequently than
                                        intervention option B during weekends.</p>
                                </div>
                                <div class="col-3">
                                    <img src="{{ config.ASSETS_ROOT }}/images/pjitai/ui_1.png"
                                         class="pull-right img-responsive">
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <h3>What is a Decision Point?</h3>
                            <div class="col-9">
                                <p>In a JITAI, a decision point is a point in time where an intervention component decides what type of intervention to deliver, or whether to deliver an intervention at all. For example, an intervention component that promotes walking might include a decision point in the morning before the person goes to work.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h3>What is Personalization (for JITAIs)?</h3>
                            <div class="col-9">
                                <p>Whereas some JITAI decision rules may be designed with fixed probabilities or deterministic rules (e.g., IF the user did not meet their step goal yesterday THEN deliver a walking suggestion at 9am today), a personalizing JITAI component will employ an algorithm that seeks to learn under what conditions a particular intervention option is more effective for an individual, and to adjust the likelihood of sending that option to optimize overall effectiveness. For example, if a user is more likely to take walks after receiving a reminder on weekends than on weekdays, the algorithm may choose to send a message (rather than send nothing) more often on weekends than on weekdays.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h3>How can I use the pJITAI Toolbox?</h3>
                            <div class="col-9">
                                <p>The pJITAI Toolbox will walk you through the steps of configuring a personalizing reinforcement learning algorithm. Providing the information requested by the Toolbox will ensure that the algorithm is set up properly for the intervention component you plan to personalize, and that the algorithm is initialized with starting parameters that will allow it to perform reasonably well at the beginning and learn each user’s responsiveness quickly. The current version of the Toolbox assumes that you have prior data from a Micro-randomized Trial (a common way to generate initialization data for a personalizing algorithm), but if you don’t have such data you can come up with estimates from related prior work or simply take your best guess!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h3>How do I start? </h3>
                            <div class="col-9">
                                <p>Simply click “New Project” from the options on the left. On each of the screens that follow, in addition to general instructions and explanations, you will find examples drawn from the HeartSteps project. A great way to get familiar with the pJITAI toolbox is to create your own “HeartSteps Activity Suggestions” project and walk through the Toolbox entering values from the running example. After you finish that, come back here and start a new project to personalize your own Intervention Component!</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer introduction_next_prev">

                <button href="#myCarousel" role="button" data-slide="prev" type="button"
                        class="btn btn-primary left carousel-control mr-auto">Back
                </button>
                <button href="#myCarousel" role="button" data-slide="next" id="right_btn" type="button"
                        class="btn btn-primary right carousel-control">Next
                </button>
            </div>
            <div class="modal-footer">
                <input class="" id="donotshowagain" name="donotshowagain" type="checkbox"> Do not show me again
            </div>
        </div>
    </div>
</div>

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-anchor"></i>
                </div>
                <span class="b-title">pJITAI</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">

            <ul class="nav pcoded-inner-navbar">
                <!-- <li class="nav-item pcoded-hasmenu {% if 'general' in segment %} active pcoded-trigger {% endif %}"> -->
                <li class="nav-item {% if 'general' in segment %} active pcoded-trigger {% endif %}">
                    <a href="/projects/settings/general/{{project_uuid}}" class="nav-link "><span class="pcoded-micon"><i
                            class="fas fa-plus"></i></span><span class="pcoded-mtext">Add New Project</span></a>
                    <!-- <ul class="pcoded-submenu" {% if
                    'general' not in segment %} style="display: none;" {% endif %}> -->
                <!-- <li class="{% if 'general_settings' in segment %} active {% endif %}"><a
                        href="/projects/settings/general/{{project_uuid}}" class=""><i class="fas fa-plus-circle"></i>
                    Add a new intervention component</a></li> -->
                <!-- <li class="{% if 'personalized_method' in segment %} active {% endif %}"><a
                        href="/projects/duplicate/demo-0001" class=""><i
                        class="fas fa-clone"></i> Add HeartSteps Demo</a></li> -->
            <!-- </ul> -->
            </li>
            <li class="nav-item {% if 'in_progress' in segment %} active{% endif %}">
                <a href="/projects/in_progress" class="nav-link "><span class="pcoded-micon"><i
                        class="fas fa-history"></i></span><span class="pcoded-mtext">In Progress </span></a>
            </li>
            <li class="nav-item {% if 'finalized' in segment %} active pcoded-trigger {% endif %}">
                <a href="/projects/finalized" class="nav-link "><span class="pcoded-micon"><i
                        class="fas fa-clipboard-check"></i></span><span class="pcoded-mtext">Finalized</span></a>
            </li>


            <li class="nav-item {% if 'intervention' in segment %} active pcoded-trigger {% endif %}">
                <a href="#starterGuideModel" onclick="showModalByLink();" class="nav-link "><span class="pcoded-micon"><i
                        class="fas fa-chalkboard-teacher"></i></span><span class="pcoded-mtext">Starter Guide</span></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
