{% extends "layouts/base.html" %}

{% block title %} Add Collaborators {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="grid-container">
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="page-wrapper">
          <!-- [ Main Content ] start -->
           <form>
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3>Add Collaborators</h3>
                </div>
              </div>
            </div>
           </form>
           <!-- TODO -->

           
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/comments.html' %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
