{% extends "layouts/base.html" %}

{% block title %} Add Collaborators {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="grid-container">
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="page-wrapper">
          <!-- [ Main Content ] start -->
           <form>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h3>Add Collaborators</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="form-group" style="margin-bottom: 30px;">
                        <label class="form-control-label" for="study_name">Current Collaborators</label>
                        {% if collaborators %}
                        {% for c in collaborators %}
                        <ul>
                          <li>{{c.displayname}} ({{c.email}})</li>
                        </ul>
                        {% endfor %}
                        {% else %}
                        <p>There are no collaborators at this moment.</p>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="search-group">Search Users by Email</label>
                        <div style="display: grid; grid-auto-flow: column; grid-template-columns: 91% 9%; grid-column-gap: 5px" id="search-group">
                          <input type="text" name="search-collaborators" class="form-control" placeholder="Email of the user" id="user-email">
                          <button type="button" class="btn btn-warning" style="margin-bottom: 0px;" id="search-btn"><i class="fa fa-search"></i>Search</button>
                        </div>
                      </div>
                      <div>
                        <p style="display: none;" id="user-match"></p>
                        <button type="button" style="display: none;" 
                          id="invite-btn" class="btn btn-outline-warning"
                          onclick="return confirm('Invitation has been sent to the user!');"><i class="fa fa-paper-plane"></i>Invite</button>
                      </div>
                      <p id="no-match-user" style="display: none;">There are no matching user with this email.</p>
                    </div>
                  </div>
                  <script>
                    document.getElementById('search-btn').addEventListener('click', function(){
                      const emailInput = document.getElementById('user-email').value;
                      checkUsers(emailInput);
                    })
                    function checkUsers(email) {
                      document.getElementById('user-match').style.display = 'none';
                      document.getElementById('no-match-user').style.display = 'none';
                      document.getElementById('invite-btn').style.display = 'none';
                      // console.log('checking email: ', email);
                      const allUsers = JSON.parse('{{ all_users | tojson | safe}}');
                      // console.log(allUsers);
                      document.getElementById('user-email').value = '';
                      for (let u of allUsers) {
                        if (email == u.email) {
                          document.getElementById('user-match').innerText = u.displayname + ' (' + u.email + ')';
                          document.getElementById('user-match').style.display = 'block';
                          document.getElementById('invite-btn').style.display = 'block';
                        } else {
                          document.getElementById('no-match-user').style.display = 'block';
                        }
                      }
                    }
                  </script>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-item">
                      <h4>Explanation</h4>
                      <p>In this page, you can add collaborators for this project by sending invitation to the user. The user must have a pJITAI Toolbox account in order to be a collaborator.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="form-group">
                        <a href="/projects/settings/general/{{project_uuid}}" class="btn btn-outline-primary" role="button">Back</a>
                        <!-- <button formmethod="post" formaction="/projects/settings/personalized_method/{{project_uuid}}" class="btn btn-primary" type="submit">Next</button> -->
                        <a href="/projects/settings/personalized_method/{{project_uuid}}" class="btn btn-primary" role="button">Next</a>
                      </div>
                      <div class="form-group">
                        Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </form>           
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/comments.html' %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
