{% extends "layouts/base.html" %}

{% block title %} Final Page {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                          <div class="col-sm-12">
                              <div class="card">
                                  <div class="card-header">
                                      <h3>How to Connect and Make Calls from a Client</h3>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-header">
                              <h4><b>Your Project Information</b></h4>
                              <h5>1. Base url: {{base_url}}</h5>
                              <p>Please replace &lt;base_url&gt; with the base url above when making a call. You can make API calls from a client to the server via HTTP requests. Decision, upload and update calls can be requested, following the endpoint routes.</p>
                              <h5>2. Project uuid: {{proj.get("uuid")}}</h5>
                              <p>This is your project uuid, which is unique for this project. You need this uuid when making API calls to the server.</p>
                              <h5>3. Token: {{token}}</h5>
                              <p>This should be included as a header for your HTTP requests. It will be used for authentication.</p>
                              <pre><code class="language-python">{'TOKEN': {{token}}}</code></pre>
                              <br />
                              <h4 style="margin-top: 20px;"><b>HTTP Requests</b></h4>
                              <div class="decision">
                                <h5>1. Decision</h5>
                                <p>The decision call from a client allows the RL algorithm to make a decision for the intervention.</p>
                                <h6>Endpoint</h6>
                                <pre><code class="language-python">&lt;base_url&gt;/api/{{proj.get("uuid")}}/decision</code></pre>
                                <h6>Method</h6>
                                <pre><code class="language-python">POST</code></pre>
                                <h6>Request Body</h6>
                                <pre><code class="language-python">{ 
  'user_id': {{proj.get("created_by")}},
  'timestamp': '{{time}}',
  'state_data':{ {% for cov in covariate_names %}  # This should match the project's covariate(s)
    '{{cov}}_validation_status_code': ['SUCCESS'],
    '{{cov}}': 1,{% endfor %} 
  }
}</code></pre>
                                <h6>Response Body</h6>
                                <pre><code class="language-python">{ 
  status_code: 'SUCCESS', 
  status_message: 'Decision made successfully',
  decision_result: { 
    user_id: {{proj.get("created_by")}},
    timestamp: '{{time}}',
    id: 39, 
    proj_uuid: '{{proj.get("uuid")}}', 
    state_data: '{ {% for cov in covariate_names %}
      '{{cov}}_validation_status_code': ['SUCCESS'],
      '{{cov}}': 1,{% endfor %} 
    }', 
    decision: 0, 
    pi: 0.1, 
    random_number: 0.104327,
    status_code': 'SUCCESS',
    status_message': 'Decision made successfully',
  }
}</code></pre>
                              <div class="upload">
                                <h5>2. Upload</h5>
                                <p>The upload call from a client allows the RL algorithm to upload data after making a decision.</p>
                                <h6>Endpoint</h6>
                                <pre><code class="language-python">&lt;base_url&gt;/api/{{proj.get("uuid")}}/upload</code></pre>
                                <h6>Method</h6>
                                <pre><code class="language-python">POST</code></pre>
                                <h6>Request Body</h6>
                                <pre><code class="language-python">{ 
  'user_id': {{proj.get("created_by")}},
  'timestamp': '{{time}}',
  'proximal_outcome': 0.5,
  'proximal_outcome_timestamp': '2024-10-23T16:57:39Z',
  'decision_id': 39,
}</code></pre>
                                <h6>Response Body</h6>
                                <pre><code class="language-python">{ 
  status_code:'SUCCESS', 
  status_message:'Data uploaded to model {{proj.get("uuid")}}', 
  upload_result: {
    'decision_id': 39, 
    'id': 16, 
    'proj_uuid': '{{proj.get("uuid")}}', 
    'proximal_outcome': 0.5, 
    'proximal_outcome_timestamp': '2024-10-23T16:57:39Z', 
    'timestamp': '{{time}}', 
    'user_id': {{proj.get("created_by")}}
  }
}</code></pre>
                                <div class="update">
                                <h5>3. Update</h5>
                                <p>The update call from a client allows the RL algorithm to update data after making a decision.</p>
                                <h6>Endpoint</h6>
                                <pre><code class="language-python">&lt;base_url&gt;/api/{{proj.get("uuid")}}/update</code></pre>
                                <h6>Method</h6>
                                <pre><code class="language-python">POST</code></pre>
                                <h6>Request Body</h6>
                                <pre><code class="language-python">{ 
  'user_id': {{proj.get("created_by")}}
}</code></pre>
                                <h6>Response Body</h6>
                                <pre><code class="language-python">{ 
  status_code:'SUCCESS', 
  status_message:'Update has been made successfully.', 
  update_result: {
    'degree': 5.0, 
    'id': 5, 
    'proj_uuid': '{{proj.get("uuid")}}', 
    'scale': [[0.0]], 
    'theta_Sigma': [[0.15, 0.14999999999999997, 0.0, 0.0, 0.0, 0.0], [0.15, 0.7499999999999999, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.028607194359878133, 0.028607194359878133, 0.0, 0.0], [0.0, 0.0, 0.028607194359878133, 0.02890161833039568, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.028607194359878133, 0.028607194359878133], [0.0, 0.0, 0.0, 0.0, 0.028607194359878133, 0.02890161833039568]], 
    'theta_mu': [[-6.162975822039155e-33], [1.1102230246251563e-16], [-0.03797468354430311], [-0.021864211737628647], [-0.03797468354430304], [-0.021864211737628692]], 
    'timestamp': '2025-01-07 11:23:36.759070', 
    'user_id': {{proj.get("created_by")}}
  }
}</code></pre>
                                <!-- script for JSON download start -->
                                <script>
                                  let proj = JSON.parse('{{ proj | tojson | safe }}');
                                  let timestamp_ = JSON.parse('{{ time | tojson | safe }}');
                                  let covariateList = JSON.parse('{{ covariate_names | tojson | safe }}');
                                  let maxDecId = JSON.parse('{{ max_id | tojson | safe }}');
                                  // console.log('maxDecId: ', maxDecId);

                                  let minProxOut = parseFloat(proj.model_settings.min_proximal_outcome);
                                  let maxProxOut = parseFloat(proj.model_settings.max_proximal_outcome);
                                  
                                  let i = 0;
                                  let state_data_dict = {};
                                  while(i < covariateList.length) {
                                    state_data_dict[`${covariateList[i]}_validation_status_code`] = ['SUCCESS'];
                                    state_data_dict[`${covariateList[i]}`] = 1;
                                    i++;
                                  }

                                  // console.log(proj);

                                  function download_json(){
                                      let numDecCalls = document.getElementById("num-dec-calls").value;
                                      let missingRatio = document.getElementById("missing-ratio").value;

                                      numDecCalls = numDecCalls ? parseInt(numDecCalls) : 0;
                                      missingRatio = missingRatio ? parseFloat(missingRatio) : 0;
                                      let numUploads = parseInt(numDecCalls * (1 - missingRatio));

                                      let jsonData = [];

                                      for(let i=0; i<numDecCalls; i+=1) {  // Create Fake Decision calls
                                        timestamp_ = new Date(timestamp_);
                                        timestamp_.setHours(timestamp_.getHours() + 2);
                                        timestamp_.toISOString().replace("T", " ").substring(0, 19);

                                        let newDec = {};
                                        newDec['type'] = 'decision';
                                        newDec['content'] = {
                                          'user_id': proj.created_by,
                                          'timestamp': timestamp_,
                                          'state_data': state_data_dict,
                                        };
                                        jsonData.push(newDec);
                                      }

                                      console.log('Dec: ', jsonData);

                                      // Create Fake Upload calls
                                      let jsonDataCopy = [ ...jsonData ];

                                      let numbers = new Set();
                                      while (numbers.size < numUploads) {
                                        let num = Math.floor(Math.random() * (numDecCalls - 1)) + 1;
                                        numbers.add(num);
                                      }
                                      let numbers_list = Array.from(numbers);
                                      numbers_list.sort(function(a, b) { return (a - b); });

                                      let j = 0;  // since index change
                                      for(let i=0; i<numbers_list.length; i++) {
                                        let n = numbers_list[i];

                                        let d = jsonDataCopy[n-1];  // choose nearest decision
                                        let timestampUpload = d['content']['timestamp'];
                                        timestampUpload = new Date(timestampUpload);
                                        let timestampProximal = new Date();
                                        timestampProximal.setHours(timestampUpload.getHours() + 0.5);
                                        timestampProximal.toISOString().replace("T", " ").substring(0, 19);
                                        timestampUpload.setHours(timestampUpload.getHours() + 1);  // TODO
                                        timestampUpload.toISOString().replace("T", " ").substring(0, 19);

                                        let randomProxOut = (Math.random() * (maxProxOut - minProxOut)) + minProxOut;
                                        
                                        let newDec = {};
                                        newDec['type'] = 'upload';
                                        newDec['content'] = {
                                          'user_id': proj.created_by,
                                          'timestamp': timestampUpload,
                                          "proximal_outcome": randomProxOut,
                                          "proximal_outcome_timestamp": timestampProximal,
                                          "decision_id": maxDecId + n,
                                        };
                                        jsonData.splice(numbers_list[i]+j, 0, newDec);
                                        j++;
                                      }

                                      // Create Fake Update calls

                                      console.log('Upl:', jsonData);

                                      const jsonString = JSON.stringify(jsonData, null, 2); 
                                      const blob = new Blob([jsonString], { type: "application/json" });
                                      const url = URL.createObjectURL(blob);
                                      const a = document.createElement('a');
                                      a.href = url;
                                      a.download = "data.json";
                                      document.body.appendChild(a);
                                      a.click();

                                      document.body.removeChild(a);
                                      URL.revokeObjectURL(url);
                                  }
                                  $(document).ready(function(){
                                      $("#download-btn").on("click", download_json);
                                  });
                                </script>
                                <!-- script end -->
                                <br />
                                <h4><b>Try it out with pJITAI-Client!</b></h4>
                                <p>Using our pJITAI-Client, you can test-train your model.</p>
                                <h5>1. Set Parameters</h5>
                                <h6>Number of Decision Calls</h6>
                                <p>This will be the number of decision calls created for test-training (range: 0 - 30).</p>
                                <input id="num-dec-calls" placeholder="0" min="0" max="30" step="1"
                                    type="number" id="intervention_probability_upper_bound"
                                    name="intervention_probability_upper_bound"
                                    class="form-control" required>
                                <br />
                                <h6>Ratio of Missing Upload Calls</h6>
                                <p>This will be the ratio of missing upload calls based on the number of decision calls you set above.</p>
                                <input id="missing-ratio" placeholder="0" min="0" max="1" step="0.01"
                                    type="number" id="intervention_probability_upper_bound"
                                    name="intervention_probability_upper_bound"
                                    class="form-control" required>
                                <h5>2. Download</h5>
                                <p>Click on the below button to download the randomly created JSON file which will be used in pJITAI-Client.</p>
                                <button id="download-btn" type="button" class="btn btn-primary">Download</button>
                                <!-- <h6>How to Make a Call</h6>
                                <p>The following data should be attached by the client to make an upload call.</p>
                                <ul>
                                  <li>user id</li>
                                  <li>timestamp (use the current time)</li>
                                  <li>proximal outcome</li>
                                  <li>proximal outcome timestamp</li>
                                  <li>decision id (the id of the Decision data, which the upload is referring to)</li>
                                </ul>
                                <p>Your call should look like:</p>
                                <pre><code class="language-python">def process_upload():
  upload_data = {
    "user_id": {{proj.get("created_by")}},
    "timestamp": str(datetime.now()),
    "proximal_outcome": 0.5,  # mock data
    "proximal_outcome_timestamp": "2024-10-23T16:57:39Z",  # mock data
    "decision_id": 39,  # mock data
  }

  allevents.append(('upload', upload_data))</code></pre>
                                <p>The response will look like (includes mock data):</p>
                                <pre><code class="language-python">UploadResponse(status_code='SUCCESS', status_message='Data uploaded to model '{{proj.get("uuid")}}'', data={'decision_id': 39, 'id': 16, 'proj_uuid': '{{proj.get("uuid")}}', 'proximal_outcome': 0.5, 'proximal_outcome_timestamp': '2024-10-23T16:57:39Z', 'timestamp': '2025-01-07 11:23:36.675213', 'user_id': {{proj.get("created_by")}}})</code></pre>
                              </div> -->
                              <!-- <div class="update">
                                <h5>3. Update</h5>
                                <p>The update call from a client allows the RL algorithm to update its parameters.</p>
                                <h6>How to Make a Call</h6>
                                <p>The following data should be attached by the client to make an update call.</p>
                                <ul>
                                  <li>user id</li>
                                </ul>
                                <p>Your call should look like:</p>
                                <pre><code class="language-python">def process_update():
  user_id = {{proj.get("created_by")}}

  row = {}
  row['user_id'] = user_id

  allevents.append(('update', row))</code></pre>
                                <p>The response will look like (includes mock data):</p>
                                <pre><code class="language-python">UpdateResponse(status_code='SUCCESS', status_message='Update has been made successfully.', update_result={'degree': 5.0, 'id': 5, 'proj_uuid': '{{proj.get("uuid")}}', 'scale': [[0.0]], 'theta_Sigma': [[0.15, 0.14999999999999997, 0.0, 0.0, 0.0, 0.0], [0.15, 0.7499999999999999, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.028607194359878133, 0.028607194359878133, 0.0, 0.0], [0.0, 0.0, 0.028607194359878133, 0.02890161833039568, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.028607194359878133, 0.028607194359878133], [0.0, 0.0, 0.0, 0.0, 0.028607194359878133, 0.02890161833039568]], 'theta_mu': [[-6.162975822039155e-33], [1.1102230246251563e-16], [-0.03797468354430311], [-0.021864211737628647], [-0.03797468354430304], [-0.021864211737628692]], 'timestamp': '2025-01-07 11:23:36.759070', 'user_id': {{proj.get("created_by")}}})</code></pre>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
