{% extends "layouts/base.html" %}

{% block title %} Add Team Members {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="grid-container">
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="page-wrapper">
          <!-- [ Main Content ] start -->
           <form>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h3>Add Team Members</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="form-group" style="margin-bottom: 30px;">
                        <label class="form-control-label" for="project_name">Current Team Members</label>
                        {% if team_members %}
                          {% for t in team_members %}
                            {% if t.email == this_user %}
                              <ul>
                                <li>{{t.displayname}} ({{this_user}}) - You</li>
                              </ul>
                            {% else %}
                              <ul>
                                <li >{{t.displayname}} ({{t.email}})
                                  <!-- <a class="dropdown-item" style="color:#f65959; border: 1px #f65959 solid; border-radius: 10px;"
                                                                onclick="return confirm('Are you sure you want to delete this team member?');"><i class="fa fa-trash"
                                    project                              aria-hidden="true"></i> Delete</a> -->
                                </li>
                              </ul>
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          <ul>
                            <li>{{this_user_name}} ({{this_user}}) - You</li>
                          </ul>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="search-group">Search for team members by email</label>
                        <div style="display: grid; grid-auto-flow: column; grid-template-columns: 1fr auto; grid-column-gap: 5px" id="search-group">
                          <input type="text" name="team_members" class="form-control" placeholder="User email" id="user-email">
                          <button type="button" class="btn btn-warning" style="margin-bottom: 0px;" id="search-btn"><i class="fa fa-search"></i>Search</button>
                        </div>
                      </div>
                      <div>
                        <p style="display: none;" id="user-match"></p>
                        <button type="submit" style="display: none;" 
                          id="invite-btn" class="btn btn-outline-warning"
                          onclick="return confirm('The user has been added as a team member!');"
                          formmethod="post" formaction="/projects/settings/team_members/{{project_uuid}}"><i class="fa fa-paper-plane"></i>Add</button>
                      </div>
                      <p id="no-match-user" style="display: none;">There are no matching user with this email.</p>
                      <p id="use-other-user" style="display: none;">You are already added as a team member.</p>
                    </div>
                  </div>
                  <script>
                    document.getElementById('search-btn').addEventListener('click', function(){
                      const emailInput = document.getElementById('user-email').value;
                      checkUsers(emailInput);
                    })
                    function checkUsers(email) {
                      document.getElementById('user-match').style.display = 'none';
                      document.getElementById('no-match-user').style.display = 'none';
                      document.getElementById('invite-btn').style.display = 'none';
                      document.getElementById('use-other-user').style.display = 'none';
                      // console.log('checking email: ', email);
                      const allUsers = JSON.parse('{{ all_users | tojson | safe }}');
                      const thisUser = JSON.parse('{{ this_user | tojson | safe }}');
                      let found = false;

                      // document.getElementById('user-email').value = '';

                      if (email == thisUser) {
                        document.getElementById('use-other-user').style.display = 'block';
                      } else {
                        for (let u of allUsers) {
                          if (email == u.email) {
                            document.getElementById('user-match').innerText = u.displayname + ' (' + u.email + ')';
                            document.getElementById('user-match').style.display = 'block';
                            document.getElementById('invite-btn').style.display = 'block';
                            document.getElementById('no-match-user').style.display = 'none';
                            found = true;
                          }                           
                        }
                        if (!found) {
                          document.getElementById('no-match-user').style.display = 'block';
                        }
                      } 
                    }
                  </script>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-item">
                      <h5><b>Team Members</b></h5>
                      <p>On this page, you can add team members for this project by searching via user's email. The user must have a pJITAI Toolbox account in order to be a team member.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="form-group">
                        <a href="/projects/settings/general/{{project_uuid}}" class="btn btn-outline-primary" role="button">Back</a>
                        <!-- <button formmethod="post" formaction="/projects/settings/personalized_method/{{project_uuid}}" class="btn btn-primary" type="submit">Next</button> -->
                        <a href="/projects/settings/personalized_method/{{project_uuid}}" class="btn btn-primary" role="button">Next</a>
                      </div>
                      <div class="form-group">
                        Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </form>           
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/comments.html' %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
