{% extends "layouts/base.html" %}

{% block title %} Model - Intercept {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Model Settings / Intercept</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="intercept_prior_mean">Prior
                                                                mean of the intercept</label>
                                                            <input type="number" step="0.01"
                                                                value="{{settings.intercept_prior_mean}}"
                                                                id="intercept_prior_mean" name="intercept_prior_mean"
                                                                class="form-control" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="intercept_prior_standard_deviation">Prior standard
                                                                deviation of the intercept </label>
                                                            <input type="number" step="0.01" min="0"
                                                                value="{{settings.intercept_prior_standard_deviation}}"
                                                                id="intercept_prior_standard_deviation"
                                                                name="intercept_prior_standard_deviation"
                                                                oninput="check(this)"
                                                                class="form-control" required>
                                                        </div>
                                                        <script>
                                                            function check(input) {
                                                            if (input.value == 0) {
                                                                input.setCustomValidity('The number must not be zero.');
                                                            } else {
                                                                // input is fine -- reset the error message
                                                                input.setCustomValidity('');
                                                            }
                                                            }
                                                        </script>
                                                    </div>

                                                    <div class="col">
                                                        {{formula|safe}}
                                                    </div>
                                                </div>

                                                <div class="center-buttons">
                                                    <a href="/covariates/settings/all/{{project_uuid}}"
                                                        class="btn btn-outline-primary" role="button">Back</a>
                                                    <!-- <button style="margin-left: 3px;" type="submit" type="button"
                                                            formaction="/model/settings/main_treatment_effect/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next
                                                    </button> -->
                                                    <button style="margin-left: 3px;" type="submit" type="button"
                                                            formaction="/covariates/settings/covariate_main_effect/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["Prior mean and standard deviation of the intercept, α<sub>0</sub>"]%}
                {% set block1_text=["The intercept refers to the intercept term in the linear regression model for the proximal outcome. The intercept corresponds to the mean of the proximal outcome when the values of the standardized covariates are set to zero."] %}
                {% set block2="Y" %}
                {% set block2_title="Normal Prior" %}
                {% set block2_text %}
                The algorithm uses a normal distribution to describe prior information about each parameter in the linear regression model—this includes the intercept parameter, α<sub>0</sub>. Thus to set the prior you must specify a prior mean and a prior standard deviation for each parameter in the linear regression model.
                {% endset %}
                {% set block3="Y" %}
                {% set block3_title="How to set prior values?" %}
                {% set block3_text %}
                <b>Using MRT data to inform your choice of prior mean and standard deviation</b>
                To obtain prior means and standard deviations, we suggest you fit person-specific regression models, one per person in the MRT data (using approximately standardized covariates and proximal outcome). If a person does not have a minimum number of decision points, you might use <a href="https://en.wikipedia.org/wiki/Ridge_regression">ridge regression</a>. The estimators as well as their variability across the individual person-specific regression can be used to inform the prior. This approach utilizes the between individual heterogeneity in intercept to proxy the subjective prior uncertainty about the true intercept. And the average of the estimated intercepts across individuals proxies the consensus of the mean for the intercept.

                Assuming all covariates and the proximal outcome provided to the personalization algorithm will be approximately standardized (so average value of each standardized covariate/proximal outcome is roughly close to 0 and the standard deviation of each standardized covariate/proximal outcome is roughly 1), here are some rules of thumb for setting the prior mean and standard deviation for the intercept:
                <ul>
                    <li><b>The proximal outcome is approximately standardized:</b> A natural choice for the prior mean of the intercept is 0, and the prior standard deviation is 1.0 (due to the approximate standardization).</li>
                    <li><b>A second option is to use a weakly informative prior:</b> A prior of Normal (mean = 0, standard deviation = 3.16) is a standard <a href="https://github.com/stan-dev/stan/wiki/prior-choice-recommendations">weakly informative prior</a>, which is a widely recommended best practice. Here is what it means:
                        <li>
                            <b>Prior Standard Deviation = 3.16:</b> The value seems specific because its square is approximately 10 (i.e. variance = 10). It expresses uncertainty due to the fact that a different group of individuals are going to experience the pJITAI as compared to individuals in the MRT.
                        </li>
                    </li>
                    <li>[NOTE] When the personalization algorithm is running or actively deployed and receiving real-time data, the proximal outcome (Y) needs to be standardized as well and must utilize the exact same baseline values of the sample mean ($\mu_{Y}$) and variance ($\sigma_(Y)$) used during the original MRT standardization and analysis. Do not recalculate or update $\mu_{Y}$ or $\sigma_(Y)$ using incoming post-deployment data, as shifting these reference points will alter the scaling of your proximal outcome.</li>
                </ul>
                For a more detailed discussion about how to set priors, see <a href="https://github.com/stan-dev/stan/wiki/prior-choice-recommendations">here</a>. 
                {% endset %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
