{% extends "layouts/base.html" %}

{% block title %} Model - Main Treatment Effect {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Model Settings / Main Treatment Effect</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="treatment_prior_mean">Prior
                                                                mean of the main treatment effect </label>
                                                            <input type="number" step="0.01"
                                                                value="{{settings.treatment_prior_mean}}"
                                                                id="treatment_prior_mean" name="treatment_prior_mean"
                                                                class="form-control" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="treatment_prior_standard_deviation">Prior standard
                                                                deviation of the main treatment effect </label>
                                                            <input type="number" step="0.01" min="0"
                                                                value="{{settings.treatment_prior_standard_deviation}}"
                                                                id="treatment_prior_standard_deviation"
                                                                name="treatment_prior_standard_deviation"
                                                                oninput="check(this)"
                                                                class="form-control" required>
                                                        </div>
                                                        <script>
                                                            function check(input) {
                                                            if (input.value == 0) {
                                                                input.setCustomValidity('The number must not be zero.');
                                                            } else {
                                                                // input is fine -- reset the error message
                                                                input.setCustomValidity('');
                                                            }
                                                            }
                                                        </script>

                                                    </div>

                                                    <div class="col">
                                                        {{formula|safe}}
                                                    </div>
                                                </div>
                                                <div class="center-buttons">
                                                    <a href="/covariates/settings/covariate_main_effect/{{project_uuid}}"
                                                    class="btn btn-outline-primary" role="button">Back</a>
                                                    <button style="margin-left: 3px;" type="submit" type="button"
                                                            formaction="/model/settings/main_noise/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["Prior mean and standard deviation of the Main Treatment Effect β<sub>0</sub>"] %}
                {% set block1_text=["The prior mean of the main treatment effect is a rough guess at the mean change in the proximal outcome when an intervention option A is provided versus intervention option B and all covariates are set to be 0.

                If you don’t have good information about the prior mean, see the Discussion below on selecting reasonable defaults."] %}
                {% set block2="Y" %}
                {% set block2_title="Normal Prior" %}
                {% set block2_text %}
                <b>Normal Prior Introduction:</b>

                <b>Prior Mean:</b> A prior mean of 0 encodes the prior of “no effect;” by the covariate; often used when no data has yet been collected. The personalization algorithm must find sufficient evidence in your data to move the estimated main effect of a covariate away from zero.

                <b>Prior Standard Deviation:</b> The smaller the value you select, the greater the data evidence has to be for the algorithm to produce an estimated effect of the covariate away from the prior mean; smaller values communicate that you suspect that the true main effect coefficient is close to the value of the prior mean. The larger the prior standard deviation is the more you are communicating that you want the value of the estimated main effect to be primarily determined by the data and not the prior. Often data scientists will not use a large prior standard deviation because the amount of data the algorithm has on an individual early in the study is very small; they don’t want the estimate to be unduly impacted by small amounts of data with potentially unusual values or errors.
                {% endset %}
                {% set block3="Y" %}
                {% set block3_title="How to set prior values?" %}
                {% set block3_text %}
                Assuming all covariates and the proximal outcome provided to the personalization algorithm will be approximately standardized (so average value of each standardized covariate/proximal outcome is roughly close to 0 and the standard deviation of each standardized covariate/proximal outcome is roughly 1), here are some rules of thumb for setting the prior mean and standard deviation for the main treatment effect:

                <b>Using MRT data to select the prior mean and standard deviation:</b> To obtain prior means and standard deviations, we suggest you fit person-specific regression models, one per person in the MRT data (using approximately standardized covariates and proximal outcome). If a person does not have a minimum number of decision points, you might use <a href="https://en.wikipedia.org/wiki/Ridge_regression">ridge regression</a>. The estimators as well as their variability across the individual person-specific regression can be used to select the prior mean and standard deviation. This approach utilizes the between individual heterogeneity in regression coefficients to proxy the subjective prior uncertainty about the true regression coefficients. And the average of these regression coefficients across individuals proxies the consensus viewpoint of what the regression coefficient might be.

                If the consensus main treatment effect (β<sub>0</sub> in above regression model) is scientifically significant with, for example, a value of 5, then you might set the <b>Prior Mean</b> of the main effect to 5 and set the <b>Prior Standard Deviation</b> to the standard deviation of the individual estimates of this main treatment effect coefficient.

                If the consensus treatment effect coefficient is not scientifically significant, then you might set the <b>Prior Mean</b> to 0. Furthermore, you can set the <b>Prior Standard Deviation</b> to ½ of the standard deviation of the individual estimates of this main effect regression coefficient. The smaller you set the Prior Standard Deviation, the more evidence is required from the data that this particular coefficient is actually not zero. For other  ways to set priors, please refer to <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC8439432/">HeartSteps</a>, <a href="https://arxiv.org/abs/2406.13127">Oralytics</a> and <a href="https://arxiv.org/abs/2408.15076">MiWaves</a>.

                For a more detailed discussion about how to set priors, see <a href="https://github.com/stan-dev/stan/wiki/prior-choice-recommendations">here</a>. 
                {% endset %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
