{% extends "layouts/base.html" %}

{% block title %} Model - Standardized Proximal Outcome Attributes {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="grid-container">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>Model Settings / Standardized Proximal Outcome Attributes</h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                {% if proximal_outcome_type|string == 'Continuous' %}
                                                <div class="form-group">
                                                    <label class="form-control-label" for="min_proximal_outcome">Minimum Value</label>
                                                    <input type="number" step="0.01"
                                                        value="{{settings.min_proximal_outcome}}"
                                                        id="min_proximal_outcome" name="min_proximal_outcome"
                                                        class="form-control" placeholder="The minimum value of the proximal outcome" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="max_proximal_outcome">Maximum Value</label>
                                                    <input type="number" step="0.01"
                                                        value="{{settings.max_proximal_outcome}}"
                                                        id="max_proximal_outcome" name="max_proximal_outcome"
                                                        class="form-control" placeholder="The maximum value of the proximal outcome" required>
                                                </div>
                                                {% else %}
                                                <div class="form-group">
                                                    <label class="form-control-label" for="min_proximal_outcome">Minimum Allowed Value</label>
                                                    <input type="number" disabled
                                                        value=0
                                                        id="min_proximal_outcome" name="min_proximal_outcome"
                                                        class="form-control" placeholder="The minimum value of the proximal outcome" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="max_proximal_outcome">Maximum Allowed Value</label>
                                                    <input type="number" disabled
                                                        value=1
                                                        id="max_proximal_outcome" name="max_proximal_outcome"
                                                        class="form-control" placeholder="The maximum value of the proximal outcome" required>
                                                </div>
                                                {% endif %}
                                                <div class="center-buttons">
                                                    <a href="/intervention/settings/summary/{{project_uuid}}"
                                                    class="btn btn-outline-primary" role="button">&lt; Back</a>
                                                    
                                                    <button style="margin-left: 3px;" type="submit" type="button"
                                                            formaction="/covariates/settings/all/{{project_uuid}}"
                                                            formmethod="post" class="btn btn-primary">Next &gt;
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% set block1="Y" %}
                {% set block1_title=["Minimum and Maximum Allowed Values", "Notes"] %}
                {% set block1_text=["Recall that the proximal outcome should be approximately standardized.  That is, the proximal outcome should be coded so that the average value of the proximal outcome will be roughly 0 and the standard deviation of the proximal outcome will be roughly 1.
                    After determining your approximately standardized proximal outcome, consider what the allowed range of outcomes should be. The algorithm will reject any standardized proximal outcomes that fall outside this range to prevent erroneous data from influencing personalization.", 
                    "If you decide to transform the proximal outcome (like in HeartSteps, see below), then the transformed proximal outcome will be referred to as the proximal outcome going forward. That is the terminology used throughout the pJITAI toolbox."] %}
                {% set block2="Y" %}
                {% set block2_title="Transforming the proximal outcome in HeartSteps" %}
                {% set block2_text %}
                Recall that in HeartSteps, the step count in a 30-minute window following each decision point is the proximal outcome. This 30-minute step count takes on integer values (0, 1, 2,...) and is heavily right-skewed with many values equal to zero and a long tail of higher step counts stretching towards the maximum expected value. Thus, to transform this proximal outcome so that its distribution is more symmetric, the raw step counts are log-transformed, like so:

                <code>transformed_prox_outcome = log(raw_steps + 0.5)</code>

                The value of 0.5 is added to the raw_steps value because it avoids taking the log of 0, which is undefined. If we assume 0 to be the minimum value for the raw 30-minute step count and 3000 to be the maximum value (no Usain Bolts were observed in HeartSteps V1 (<a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6401341/">link</a>) data), we end up with:

                <code>min_prox_outcome = log(0 + 0.5) = -0.7</code>
                <code>max_prox_outcome = log(3000 + 0.5) = 8.0</code>

                Following this log transformation, the proximal outcome needs to be approximately standardized for the algorithm. Standardization transforms the (transformed) proximal outcome so that it has an approximate mean of 0 and an approximate standard deviation of 1. The formula for standardization is: 
                
                Y<sub>standardized</sub> = (Y<sub>transformed</sub> - μ<sub>Y</sub>) / σ<sub>Y</sub>
                
                where:
                <ul>
                    <li>Y<sub>transformed</sub> is the log-transformed proximal outcome.</li>
                    <li>μ<sub>Y</sub> is the sample mean of the transformed proximal outcome.</li>
                    <li>σ<sub>Y</sub> is the sample standard deviation of the transformed proximal outcome.</li>
                </ul>
                The original HeartSteps implementation did not standardize the proximal outcome. However, in order to standardize the proximal outcome for HeartSteps for this illustration, we can use the rough rule of thumb: the average value of the (transformed) proximal outcome is roughly the center of this range (use (8.0-(-0.7))/2=4.4)  and the standard deviation is roughly the length of the range divided by 4 (use (8.0-(-0.7))/4=2.2). Using those values, the minimum and maximum value for the standardized proximal outcome for HeartSteps will be -2.3 (use (-0.7 - 4.4)/2.2)  and 1.7 (use (8.0 - 4.4)/2.2) respectively.
                {% endset %}
                {% include 'includes/resources.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/comments.html' %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
